.navbar.navbar-default.navbar-fixed-top {
  height: 7rem;
}
.container {
  padding: 1rem;
}
#header-jumbotron {
  background-image: url('../img/Boostrap_logo.svg');
   background-size: contain;
   background-position: 85% 0%;
   background-repeat: no-repeat;
   margin-top: 5.5%;
}
.nav.nav-tabs {
  margin-bottom: 1rem;
}
section {
  padding: 1rem;
  margin: 1rem;
}
section section {
  border: 0.1rem solid #333;
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 1rem;
}
section.tab-pane {
  padding-top: 7rem;
  margin-top: -7rem;
}

/* label */

div.preview {
  position: relative;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  padding: 3rem 1rem 1rem 1rem;
  margin: 1rem;
}
div.preview::before {
  content: "preview";
  position: absolute;
  left: 0;
  top: 0;
  width: 8rem;
  background-color: #eee;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
pre.code {
  position: relative;
  padding: 1rem;
  margin: 1rem;
}
pre.code::before {
  content: "code";
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  background-color: #060606;
  text-align: center;
  color: #fafafa;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
